.Post{
    width: 70%;
    margin: 0 auto;
    transition: all 0.5s;

}

.Post li{
    margin: 10px 1% 10px 1%;
    list-style-type: none;
}

.Post a{
    font-size: 18px;
}

.Post h1{
    margin-left: 0;
}

.Post p{
    margin: 0 10px 0;
}

#imgEdit{
    width: 30px;
    height: 30px;
    margin-left: 1%;
}

#imgEdit:hover{
    transform: scale(1.05);
}

.Comment div{
    margin-bottom: 10px;
}

.Post form{
    display: block;
}
.Post form textarea{
    width: 100%;
}
.Post form textarea:focus{
    border: 2px solid #000;
    outline: none;
}
#b{
    margin: 20px;
    outline: none;
    transition: all 0.3s ease;

    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
#b:hover{
        box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;     
}


.cat{
    display: inline-block;
    min-width: 200px;
    margin: 5px 2px;
}